<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true">
    <variable name="FilePath" value="C:/Users/Simeon Agboegbulem/Downloads/Logs/ProjectManagement\"></variable>
    <targets>
      <target name="logfile" xsi:type="File"
              fileName="${FilePath}/${date:format=yyyy-MM-dd}/${date:format=hh tt}.txt"
              layout="${longdate} ${level:uppercase=true} ${message}"></target>

      <target name="consolfile" xsi:type="Console"
              layout="${longdate} ${level:uppercase=true} ${message}"></target>
    </targets>
    <rules>
      <logger name="*" minlevel="information" writeTo="logfile"></logger>
      <logger name="*" minlevel="information" writeTo="consolfile"></logger>
    </rules>
  </nlog>
</configuration>